@model EmpManagementSystem.Models.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
               @* Column Heading:Displaying property name and id*@
                @Html.DisplayNameFor(model=>model.Employees.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Employees.First().Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employees) {
        <tr>
           @* displaying property value*@
            <td>@Html.DisplayFor(modelitem=>item.Id)</td>
            <td>@Html.DisplayFor(modelitem=>item.Name)</td>
            <td>
               @* Passing value as parameter:going to employee controller and looks for action details where id will be found*@
                <a asp-action="Details" asp-controller="Employee" asp-route-id="@item.Id">Details</a>

                <a asp-action="Edit" asp-controller="Employee" asp-route-id="@item.Id">Edit</a>

                <a asp-action="Delete" asp-controller="Employee" asp-route-id="@item.Id">Delete</a>
              
            </td>
        </tr>
}
    </tbody>
</table>
